* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* CONTAINERS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* LISTS */
ol,
ul {
    list-style: none;
}

/* BUTTON */
button {
    border: 0;
    border-radius: 0;
    font-weight: normal;
}